@model Bundle<IndexViewModel>

<div style="margin:0 30px;">
<p>What your see here are the demos of goal-based-scenarios designed by Bogazici University Educational Technology department senior undergraduate students as their coursework for e-learning design (CET 441). 
They are all simulations that aim for basic and better understanding of a difficult to teach concept for their users. 
Sometimes referred as experiential learning and a brain child of Roger C. Shank, goal based scenarios give users a role and a goal to achieve in a given mission.</p>

<p>All students remain anonymous except for their group nickname, but they all spent considerable amount of collaborative time and effort for their designs. Other credits are due at the credits section.</p>
</div>